@use "../globals/colors" as c;
@use "../helpers/media-queries" as m;

.date-form {
  .error-text {
    font-style: italic;
    color: c.$secondaryColor;
    display: none;
  }
  .error-text.form.visible {
    display: inline-block;
  }
  .inputs-wrapper {
    width: 100%;
    display: flex;
    gap: 25px;
    margin-bottom: 10px;
    @include m.responsive(small) {
      margin-bottom: 30px;
    }
    .input-items {
      display: flex;
      flex-direction: column;
      font-size: 12px;
      label {
        color: c.$smokeyGreyColor;
        text-transform: uppercase;
        letter-spacing: 3px;
      }
      input {
        font-size: 1.4rem;
        border: 1px solid c.$lightGreyColor;
        width: 120px;
        border-radius: 8px;
        padding: 8px 16px;
        @include m.responsive(small) {
          width: 100%;
        }
      }
      input::placeholder {
        text-transform: uppercase;
        color: c.$smokeyGreyColor;
      }
    }
    .input-items.error {
      label {
        color: c.$secondaryColor;
      }
      input {
        border-color: c.$secondaryColor;
        color: c.$secondaryColor;
      }
      .error-text {
        display: inline-block;
      }
      input::placeholder {
        color: c.$secondaryColor;
      }
    }
  }

  .submit-btn-wrapper {
    width: 100%;
    display: flex;
    justify-content: end;
    position: relative;
    z-index: 9;
    @include m.responsive(small) {
      justify-content: center;
    }
    .submit-btn {
      background-color: c.$primaryColor;
      padding: 13px 15px;
      border-radius: 50%;
    }
    .submit-btn::after {
      content: "";
      position: absolute;
      top: 50%;
      right: 0;
      background: c.$lightGreyColor;
      height: 2px;
      width: 100%;
      z-index: -1;
    }
  }
}
